img{
     border-radius: 40px;
}

p {
     text-align: center;
     font-size: 60px;
     font-weight: bold;
     font-family: 'ormont light font';
     color: #235366;
}

h6 {
     text-align: center;
     color: #2B3B40;
}