
<div class="container">
     <h4 style="text-align:center ;">HABITACIONES</h4>

     <div class="row justify-content-center">
          <div class="col-12 col-md-4 my-5">
                    <div class="card" style="width: 27rem;">
                         <img class="card-img-top" src="../../assets/img/hab1.jpg" alt="Card image cap">
                         <div class="card-body">
                              <h5>Doble dos camas estándar</h5>
                              <p class="card-text">Habitación de dos camas (2 plazas y 1 ½ plaza), cuenta con distintas comodidades y amenidades, con vistas a lo
                              jardinesexteriores. “PARWAY” El Florecer del Maíz el alimento de los Andes, “KUYCHI” Arco Iris asociado a la luz, color,
                              buena fortuna es una divinidad protectora de los Incas, “SAPHI” Raiz exprecion del mundo vegetal y su conexión con la
                              tierra.</p>
                         </div>
                    </div>
          </div>
          <div class="col-12 col-md-4 my-5">
                    <div class="card" style="width: 27rem;">
                         <img class="card-img-top" src="../../assets/img/hab2.jpg" alt="Card image cap">
                         <div class="card-body">
                              <h5>Doble dos camas superior</h5>
                              <p class="card-text">Habitación amplia de dos camas (King size y de 1 ½” plaza), cuenta con distintas comodidades y amenidades, con vistas
                              hacia nuestros jardines exteriores, “RUMI” que significa Roca y su eternidad en el tiempo, “WAYRA” Viento elemento
                              generador de la vida en la naturaleza.</p>
                         </div>
                    </div>
          </div>
          
          <div class="col-12 col-md-4 my-5">
                    <div class="card" style="width: 27rem;">
                         <img class="card-img-top" src="../../assets/img/hab3.jpg" alt="Card image cap">
                         <div class="card-body">
                              <h5>Matrimonial Estandar</h5>
                              <p class="card-text">Habitacion de una sola cama (Queen size), cuenta con una variedad de amenidades, con vistas a nuestros jardines
                              exteriores. “KILLA” la diosa luna hermana del Sol, “KINTU”agradecimiento andino a traves de las hojas de Madre Coca.</p>
                         </div>
                    </div>
          </div>
          <div class="col-12 col-md-4 my-5">
                    <div class="card" style="width: 27rem;">
                         <img class="card-img-top" src="../../assets/img/hab4.jpg" alt="Card image cap">
                         <div class="card-body">
                              <h5>Matrimonial Superior</h5>
                              <p class="card-text">Habitacion de una sola cama (King size), con sofa ventana donde puedes apreciar de nuestras vista a los jardines
                              exteriores y montañas. “QUENTE” , Colibri ave mitologica que simbolo de la vida, “CHASKA” Estrella astros que iluminan
                              el firmamento en las noches despejadas.</p>
                         </div>
               </div>
          </div>

          <div class="col-12 col-md-4 my-5">
               <div class="card" style="width: 27rem;">
                    <img class="card-img-top" src="../../assets/img/hab5.jpg" alt="Card image cap">
                    <div class="card-body">
                         <h5>Matrimonial Superior con Jacuzzi</h5>
                         <p class="card-text">Habitacion con cama circular (King size), con sofa en la ventana y tina de hidromasaje, con vistas a los jardines
                         exteriores y montañas. “YAKU” Agua elemento vital para la vida.</p>
                    </div>
               </div>
          </div>
          <div class="col-12 col-md-4 my-5">
               <div class="card" style="width: 27rem;">
                    <img class="card-img-top" src="../../assets/img/hab6.jpg" alt="Card image cap">
                    <div class="card-body">
                         <h5>Doble dos camas estándar</h5>
                         <p class="card-text">Habitación de dos camas (2 plazas y 1 ½ plaza), cuenta con distintas comodidades y amenidades, con vistas a lo
                         jardinesexteriores. “PARWAY” El Florecer del Maíz el alimento de los Andes, “KUYCHI” Arco Iris asociado a la luz, color,
                         buena fortuna es una divinidad protectora de los Incas, “SAPHI” Raiz exprecion del mundo vegetal y su conexión con la
                         tierra.</p>
                    </div>
               </div>
          </div>
     
     </div>
<hr>

