<h4 class=" mt-5">NUESTROS SERVICIOS</h4><br><br>
<div class=" fondo">
     <div class="row justify-content-center">
          <div class="col-12 mt-5">
          <table class="table table-striped-columns w-100">
               <tbody>
                    <tr>
                         <td style="font-weight: bold;">Exteriores</td>
                         <td>Chimenea exterior, Zona de pícnic, Mobiliario exterior, Terraza / solárium, Barbacoa De pago, Terraza, Jardín</td>
                    </tr>
                    <tr>
                         <td style="font-weight: bold;">Mascotas</td>
                         <td>Se admiten bajo petición. Se pueden aplicar suplementos.</td>
                    </tr>
                    <tr>
                         <td style="font-weight: bold;">Actividades</td>
                         <td>Clases de cocina, Tour o clase sobre cultura local, Tours en bici, Tours a pie, Ciclismo Fuera del alojamiento, Senderismo Fuera del alojamiento, Alquiler de bicicletas, Dardos, Karaoke
                         </td>
                    </tr>
                    <tr>
                         <td style="font-weight: bold;">Comida-Bebida</td>
                         <td>Cafetería en el alojamiento, Fruta, Botella de agua, Vino / champán De pago, Buffet para niños, Menús dietéticos (bajo
                         petición), Snack-bar, Bar
                         </td>
                    </tr>
                    <tr>
                         <td style="font-weight: bold;">Servicios de limpieza</td>
                         <td>Servicio de limpieza diario, Servicio de planchado, Servicio de lavandería
                         </td>
                    </tr>
                    <tr>
                         <td style="font-weight: bold;">General</td>
                         <td>Servicio de traslado, Cesta para mascotas, Zona TV / salón de uso compartido, Traslado aeropuerto, Zona de fumadores, Habitaciones hipoalergénicas, Calefacción, Caja fuerte, Suite nupcial,
                         Habitaciones con servicios VIP, Habitaciones familiares, Adaptado personas de movilidad reducida, Habitaciones para no fumadores</td>
                    </tr>
                    <tr>
                         <td style="font-weight: bold;">Internet</td>
                         <td>¡Gratis! Hay conexión a internet Wi-Fi disponible en las habitaciones. Gratis.</td>
                    </tr>
                   
               </tbody>
          </table>
     </div>

          <div class="row justify-content-center">
               <div class="col-12 col-md-5 my-5 miniCard">
                    <h6>RESTAURANTE</h6>
                    <p>Disfruta de la gastronomia que te ofrecemos <br>
                    con deliciosos desayunos y almuerzos tipo buffet. <br>
                    Conozca nuestra propuesta gastronómica <br> y pruebe con los 5 sentidos,
                    los platos de la revolución.</p>
               </div>
               <div class="col-12 col-md-5 my-5">
                    <img src="../../assets/img/restaurante.jfif" alt="tranqui" class="w-100 img-fluid">
               
               </div>
          </div>
          <div class="row justify-content-center">
               <div class="col-12 col-md-5 my-5">
                    <img src="../../assets/img/piscina.jpg" alt="susto"  class="w-100 img-fluid ">
               </div>
               <div class="col-12 col-md-5 my-5 miniCard">
                    <h6>PISCINA</h6>
                    <p>El espacio humedo se compone de 2 grandes piscinas <br>
                    muy refrescantes al aire libre con la naturaleza.  Ideal para pasarla chevere, se compone de 2 
                    grandes piscinas iguales, su profundidad máxima es de 1,20 metros y la mínima de 30 cm. el lugar 
                    está dotado de muebles con sombrillas donde puedes disfrutar del sol, apreciar la naturaleza 
                    que rodea el lugar.</p>
               </div>
          </div>
     </div>
</div><br><br>



<hr>