<div class="container">
     <div class="row">
          <div class="col-12 col-md-4 my-2">
               <span>
                    📌 Dirección: Dg. 37 Este #7A-531
                    <br>
                    Santa Elena - Medellin, Antiquia
                    </span>
          </div>
          <div class="col-12 col-md-4 my-2">
               <span>
                    📞 Telefono: +57 301-370-2710
                    <br>
                    📩 Email: tuhotelbuu@gmail.com 
               </span>
          </div>
          <div class="col-12 col-md-4 my-2">
               <i class="bi bi-facebook" style="font-size: 20px;"></i>
               <span>
                    @tuhotelbuu
               </span><br>
               <i class="bi bi-instagram"></i>
               <span>
                    @tuhotelbuu
               </span>
          </div>
     </div>
</div>